useDynLib(ntgcalls, .registration = TRUE)
importFrom(R6, R6Class)

export(ntgcalls)
export(NTgCallsClient)
export(audio_description)
export(video_description)
export(media_description)
export(rtc_server)
export(dh_config)
export(protocol)
export(ssrc_group)
export(ssrc_mapping)
export(frame_data)
export(frame)
export(segment_part_request)
export(subchain_request)
export(call_info)
export(media_state)
export(connection_info)
export(remote_source)

export(MediaSource)
export(StreamType)
export(StreamStatus)
export(StreamMode)
export(StreamDevice)
export(ConnectionState)
export(ConnectionKind)
export(CallType)
export(MediaSegmentQuality)
export(MediaSegmentPartStatus)
export(ConnectionMode)
export(LogLevel)
export(LogSource)
export(VideoRotation)
